server {
    server_name webserv;
    host 127.0.0.1;
    port 8080;
    root ./exam_tests/YoupiBanane;
    index index.html;
    methods GET POST DELETE;

    location / {
        index index.html;
        autoindex on;
        methods GET POST DELETE;
    }

    location /put_test {
        alias ./exam_tests/YoupiBanane;
        autoindex off;
        cgi_ext .py;
        cgi_path /usr/bin/python3;
        upload_dir ../../;
        methods PUT GET POST;
    }

    location /post_body {
        alias ./exam_tests/YoupiBanane;
        upload_dir ./YoupiBanane;
        methods POST PUT;
        client_max_body_size 2M;
    }

    location /directory {
        methods GET POST HEAD;
        alias ./exam_tests/YoupiBanane;
        autoindex off;
        client_max_body_size 2M;
        cgi_path /bin/bash /usr/bin/python3;
        cgi_ext .sh .py;
    }

    location /env {
        alias ./cgi/cgi-bin;
        methods GET POST;
        cgi_path /bin/sh;
        cgi_ext .sh;
        autoindex off;
    }

    location /cgi-bin {
        root ./exam_tests/YoupiBanane/cgi;
        cgi_path /usr/bin/python3 /bin/bash;
        cgi_ext .py .sh;
    }

}

server {
    server_name webserv2;
    host 127.0.0.1;
    port 8080;
    root ./exam_tests/YoupiBanane;
    methods GET;
    index post_body;
}

server {
    server_name webserv3;
    host 127.0.0.1;
    port 8080;
    root ./exam_tests/YoupiBanane;
    methods GET;
    index post_body;
}
