server {
    server_name webserv;
    host 127.0.0.1;
    port 8080;
    root ./html;
    index index.html;
    methods GET;
    client_max_body_size 5MB;

    location / {
        root ./html;
        index index.html;
        autoindex off;
        client_max_body_size 10MB;
    }

    location /files {
        root ./files;
        autoindex on;
        methods POST DELETE;

    }

    location /cgi-bin {
        root ./cgi;
        index script.py;
        autoindex off;
        cgi_path /usr/bin/python3 /bin/bash;
        cgi_ext .py .sh;
    }
}

server {
    server_name webserv;
    host 0.0.0.0;
    port 8081;
    root ./html;
    index index.html;
}