server {
    server_name webserv;
    host 127.0.0.1;
    port 8080;
    root ./YoupiBanane;
    index index.html;
    methods GET POST DELETE;

    location / {
        index index.html;
        autoindex on;
        methods GET;
    }

    location /put_test/* {
        root ./html;
        autoindex off;
        upload_dir ../../;
        methods PUT;
    }

    location /post_body {
        methods POST;
        client_max_body_size 100;
    }

    location /directory {
        methods GET POST;
        alias ./YoupiBanane;
    	index youpi.bad_extension;
        autoindex off;
        cgi_path /home/jvittoz/Documents/web10/ubuntu_cgi_tester;
        cgi_ext .bla;
    }

    location /cgi/cgi-bin {
        root ./cgi;
        index script.py;
        autoindex off;
        methods POST GET;
        cgi_path /home/jvittoz/Documents/web10/ubuntu_cgi_tester;
        cgi_ext .bla;
    }
}