server {
    server_name webserv;
    host 127.0.0.1;
    port 8080;
    root ./YoupiBanane;
    index index.html;
    methods GET POST DELETE;

    location / {
        index index.html;
        autoindex on;
        methods GET;
    }

	location /files {
		alias ./html/files;
		autoindex on;
		methods GET;
	}

    location /put_test/* {
        root ./html;
        autoindex off;
        upload_dir ../../;
        methods PUT;
    }

    location /post_body {
        methods POST;
        client_max_body_size 100;
    }

    location /directory {
        methods GET POST;
        alias ./YoupiBanane;
        index youpi.bad_extension;
        autoindex off;
        cgi_path ./ubuntu_cgi_tester;
        cgi_ext .bla;
    }

    location /env {
        alias ./cgi/cgi-bin;
        methods GET POST;
        cgi_path /bin/sh;
        cgi_ext .sh;
        autoindex off;
    }

    location /cgi-bin {
        root ./YoupiBanane;
        cgi_path /usr/bin/python3 /bin/bash;
        cgi_ext .py .sh;
    }

}
