@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	/* Couleurs principales : */
	--white-primary: 255, 255, 255; /* #FFFFFF */
	--white-bg: 250, 250, 250; /* #FAFAFA */
	--white-dark: 234, 234, 234; /* #EAEAEA */
	--gray: 120, 113, 108; /* #78716C */
	--gray-sidebar: 41, 45, 57; /* #292D39 */
	--black-primary: 23, 23, 23; /* #171717 */
	--black-bg: 51, 51, 51; /* #333333 */
	--black-sidebar: 78, 85, 102; /* #4E5566 */
	--black-coalitions: 24, 31, 45; /* #181F2D */

	/* Boutons : */
	--btn-red: 216, 99, 111; /* #D8636F */
	--btn-red-hover: 206, 58, 73; /* #CE3A49 */
	--btn-orange: 251, 146, 60; /* #FB923C */
	--btn-orange-hover: 252, 166, 94; /* #FCA65E */
	--btn-blue: 0, 186, 188; /* #00BABC */
	--btn-blue-hover: 52, 198, 202; /* #34C6CA */

	/* Milestone : */
	--milestone-blue: 0, 186, 188; /* #00BABC */
	--milestone-blue-dark: 7, 89, 89; /* #075959 */

	/* Agenda : */
	--agenda-blue: 162, 179, 229; /* #A2B3E5 */
	--agenda-red: 237, 129, 121; /* #ED8179 */
	--agenda-green: 57, 216, 143; /* #39D88F */
	--agenda-gray: 192, 192, 192; /* #C0C0C0 */

	/* Coalitions : */
	--coalition-federation: 65, 128, 219; /* #4180DB */
	--coalition-alliance: 51, 196, 127; /* #33C47F */
	--coalition-assembly: 160, 97, 209; /* #A061D1 */
	--coalition-order: 255, 105, 80; /* #FF6950 */
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Jost', sans-serif;
}

body {
	background-color: rgba(var(--white-bg), 1);
	height: 100vh;
	width: 100%;
}

header {
	position: sticky;
	top: 0;
}

nav {
	background-color: rgba(var(--white-primary), 1);
	display: flex;
	justify-content: space-between;
	height : 64px;
}

.search {
	margin: auto 32px;
	font-weight: 200;
	color: rgba(var(--black-sidebar), 1);
}

.btn-danger {
	background-color: rgba(var(--btn-red), 1);
	margin: auto 20px;
	padding: 6px 12px;
	border: 1px solid transparent;
	color: rgba(var(--white-primary), 1);
	font-size: 16px;
	transition: background-color 0.2s ease;
}

.btn-danger:hover {
	background-color: rgba(var(--btn-red-hover), 1);
	transition: background-color 0.2s ease;
}

.btn-danger:active {
	background-color: rgba(var(--btn-red), 1);
}

.first {
	background-image: url("https://cdn.intra.42.fr/coalition/cover/45/federation_background.jpg");
	background-size: cover;
	background-position: center;
	height: 256px;
	display: flex;
	gap: 32px;
	padding: 16px 32px;
}

.card {
	background-color: rgba(var(--black-bg), 0.5);
	width: 100%;
	height: 100%;
	border: 1px solid rgba(var(--gray), 0.5);
	border-radius: 0.75rem;
}

.photo {
	width: 12vh;
	height: 12vh;
	border-radius: 50%;
	margin: 20px;
	border: 2px solid rgba(var(--coalition-federation), 1);
}

.second {
	background-color: rgba(var(--black-primary), 1);
	height: 144px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.btn-primary {
	background-color: rgba(var(--milestone-blue-dark));
	height: 20px;
	border: none;
	color: rgba(var(--white-primary), 1);
	font-weight: 500;
	padding: 20px;
	border-radius: 0.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20%;
	transition: background-color 0.2s ease;
}

.btn-primary:hover {
	background-color: rgba(var(--milestone-blue), 1);
	transition: background-color 0.2s ease;
}

.btn-primary:active {
	background-color: rgba(var(--milestone-blue-dark), 1);
	transition: background-color 0.2s ease;
}

footer {
	text-align: center;
}
